.third{
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%;
}
.createUserDiv{
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.6);

    padding: 25px 20px 25px 20px;
    border-radius: 12px;
    text-align: center;
    width: 400px;
}
.createUserHeading{
    margin-bottom: 1.5rem;
    font-size: xx-large;
    font-weight: bold;
}
.createUserBtn{
    margin-top: 2rem;
    height: 50px;
    width: 150px;
    font-size: larger;
    font-weight: bold;
}
/* ----------------    RUser */


.allRUsersTableDiv{
    margin: 0 auto;
    width : 750px;
}
.allRUserTitle{
    text-align: center;
    font-size: xx-large;
}
.allRUT{
    box-shadow: 0 4px 8px 0 rgba(35, 33, 143, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    
}
.allUtr:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(6, 6, 22, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



.modalCloseBtn, .modalSuccessBtn{
    height: 45px;
    font-size: large;
    font-weight: bold;
    width: 100px;
    margin-top: 10px;
}
.modalContentContainer{
    text-align: center;
    padding-top: 15px;
}
.modalCloseBtn{
    margin-left: 4px;

} 
.modalSuccessBtn{
    width: 100px;
    margin-right: 4px;

}
.modalInput{
    margin: 0 auto;
    width: 350px;
}