.tasks{
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    width: 1000px;
    height: fit-content;
    padding: 10px;
    margin-bottom: 20px;
}
.createTask{
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    width: 800px;
    height: fit-content;
    padding: 25px;
    padding-left: 80px;
    padding-right: 80px;
}
.taskNameInput{
    width: 350px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;

}
.createTaskBtn{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.userprojecttasks{
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    width: 800px;
    height: fit-content;
    padding: 10px;
}

.completeBtn:disabled{
    color: red;
}
.completeBtn:disabled:hover{
    color: green;
    cursor: not-allowed;
}